# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula iremos dar introdução ao list comprehension, uma forma mais simples de realizar conversões de valores entre duas listas. Atualmente é uma das formas mais simples de aplicar conversões, substituindo as declarações mais extensas do que o método conversional, lambda e o map.

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [21]:
celsius = [10,20,30,35,40,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print(fahrenheit)

[50.0, 68.0, 86.0, 95.0, 104.0, 122.0]

## Exemplo 2 - Conversão de KMH para Mph

In [22]:
kmh = [100, 25, 70, 80, 180]
mph = [round(x/1.61,2) for x in kmh]
print(mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [23]:
print("{:<6}{:<6}". format("kmh", "mph"))
print("============")
x = 0
while(x<len(kmh)):
    print("{:<6}{:<6}".format (kmh[x], mph[x]))
    x +=1

kmh   mph
============
100   62.11
25    15.53
70    43.48
80    49.69
180   111.8

# Exercício 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e milhas maríimas. Listando o número da linha e o cabeçalho da tabela

In [24]:
mts = [10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
mts.sort()
print(mts)
ft = [round(x*0.39) for x in mts]
print(ft)

yd = [round(x/0.9144) for x in mts]
print(yd)

mm = [round(x/100*1852,2) for x in mts]
print(mm)

[10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
[4, 6, 14, 29, 39, 43, 57, 66, 72, 76]
[11, 16, 38, 82, 109, 120, 159, 186, 202, 213]
[185.2, 277.8, 648.2, 1389.0, 1852.0, 2037.2, 2685.4, 3148.4, 3426.2, 3611.4]

In [25]:
print("{:<7}{:<7}{:<7}{:<7}{:<7}" .format ("Nº","mts", "ft", "yd", "mm"))
print("===================================")
x = 0
for x in range (len(mts)):
    print("{:<7}{:<7}{:<7}{:<7}{:<7}".format (x+1, mts[x], ft[x], yd[x], mm[x]))
    x +=1

Nº     mts    ft     yd     mm
===================================
1      10     4      11     185.2
2      15     6      16     277.8
3      35     14     38     648.2
4      75     29     82     1389.0
5      100    39     109    1852.0
6      110    43     120    2037.2
7      145    57     159    2685.4
8      170    66     186    3148.4
9      185    72     202    3426.2
10     195    76     213    3611.4

# Exercício 2

> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para celsius e fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [26]:
kelvin = [10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
kelvin.sort()
print(kelvin)

celsius = [round(x-273.15) for x in kelvin]
print(celsius)

fahrenheit = [round(x*9/5 - 459,67) for x in kelvin]
print(fahrenheit)

[10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
[-263, -258, -238, -198, -173, -163, -128, -103, -88, -78]
[-441.0, -432.0, -396.0, -324.0, -279.0, -261.0, -198.0, -153.0, -126.0, -108.0]

In [27]:
print("{:<7}{:<7}{:<8}{:<9}" .format ("Nº","kelvin", "celsius", "fahrenheit"))
print("================================")
x = 0
for x in range (len(kelvin)):
    print("{:<7}{:<7}{:<8}{:<9}".format (x+1, kelvin[x], celsius[x], fahrenheit[x]))
    x +=1

Nº     kelvin celsius fahrenheit
================================
1      10     -263    -441.0
2      15     -258    -432.0
3      35     -238    -396.0
4      75     -198    -324.0
5      100    -173    -279.0
6      110    -163    -261.0
7      145    -128    -198.0
8      170    -103    -153.0
9      185    -88     -126.0
10     195    -78     -108.0

## Exercício 3

> Crie um uma lista com 10 pesos em quilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.

In [28]:
peso = [10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
peso.sort()
print(peso)

terra = [round(x*9.81) for x in peso]
print(terra)

lua = [round(x*1.62) for x in peso]
print(lua)

jupiter = [round(x*24.79) for x in peso]
print(jupiter)

saturno = [round(x*10.44) for x in peso]
print(saturno)

mercurio = [round(x*3.7) for x in peso]
print(mercurio)

[10, 15, 35, 75, 100, 110, 145, 170, 185, 195]
[98, 147, 343, 736, 981, 1079, 1422, 1668, 1815, 1913]
[16, 24, 57, 122, 162, 178, 235, 275, 300, 316]
[248, 372, 868, 1859, 2479, 2727, 3595, 4214, 4586, 4834]
[104, 157, 365, 783, 1044, 1148, 1514, 1775, 1931, 2036]
[37, 56, 130, 278, 370, 407, 536, 629, 684, 722]

In [29]:
print("{:<6}{:<7}{:<5}{:<8}{:<8}{:<9}" .format ("Peso","Terra", "Lua", "Júpiter","Saturno", "Mercúrio"))
print("============================================")
x = 0
for x in range (len(peso)):
    print("{:<6}{:<7}{:<5}{:<8}{:<8}{:<9}".format (x+1, peso[x], terra[x], lua[x], jupiter[x], saturno[x], mercurio[x]))
    x +=1

Peso  Terra  Lua  Júpiter Saturno Mercúrio
============================================
1     10     98   16      248     104
2     15     147  24      372     157
3     35     343  57      868     365
4     75     736  122     1859    783
5     100    981  162     2479    1044
6     110    1079 178     2727    1148
7     145    1422 235     3595    1514
8     170    1668 275     4214    1775
9     185    1815 300     4586    1931
10    195    1913 316     4834    2036